<div class="sidebar">
    <a class="active" routerLink="data-binding">Data-Binding</a>
    <a routerLink="directive">Directive</a>
    <a routerLink="routing">Nested Routing</a>
    <a routerLink="pipe">Angular Pipes</a>
    <a routerLink="animation">Angular Animation</a>
    <a routerLink="reactiveform">Reactive Form</a>
    <a routerLink="http">HTTP</a>
    <a routerLink="subject">Subject</a>
    <a routerLink="parent">Parent-Child</a>
    <a routerLink="auth">Firebase Authentication</a>
    <a routerLink="database">Firebase Database</a>
</div>   